{{#each list}}
<div class="products__item">
	<div class="products__name">
		{{name}}
	</div>
	<div class="products__description">
		{{description}}
	</div>
	<div class="products__id">
		ID: {{id}}
	</div>
	<div class="item__line">
		<div class="products__price">
			{{price}}$
		</div>
		<div>
			<a href="/product-edit?id={{id}}" class="products__edit link">Edit</a>
		</div>

	</div>
</div>
{{/each}}